@use "mixins" as *;
@use "tokens/fonts" as *;
@use "tokens/colors" as *;

* {
    box-sizing: border-box;
}

:root {
    background-color: $colors-secondary;
    color: $colors-primary;
    font-family: $fonts-primary;

    @include font-style($fonts-regular);
    @include font-size($fonts-size-base, $fonts-size-lg);
}
